<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cicada</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="container">
      <p>Dear User,</p>
      <p>
        We extend our most sincere and encrypted congratulations on your
        successful completion of the quest designed to assess your worthiness
        for entry into our esteemed organization, Cicada. Your ability to
        navigate the digital labyrinth with finesse and precision has not gone
        unnoticed.
      </p>
      <p>
        In the realm of cyberspace, where shadows dance and code speaks louder
        than words, you have demonstrated a mastery that aligns seamlessly with
        the ethos of Cicada. Your skill set, shrouded in the enigmatic language
        of ones and zeros, has proven to be a formidable asset.
      </p>
      <p>
        As you embark on this new chapter within our clandestine community, be
        prepared to delve into the depths of information security, exploit the
        vulnerabilities of the virtual world, and join a league of individuals
        who navigate the binary currents with unparalleled finesse.
      </p>
      <p>
        Remember, discretion is paramount, and your allegiance to the code of
        silence shall be tested. Uphold the principles of anonymity, embrace the
        power of encryption, and let the lines of your code speak louder than
        any words ever could.
      </p>
      <p>Welcome to Cicada. Your journey has just begun.</p>
      <p>Yours in the Shadows,</p>
      <p>3301</p>
      <p>krdu{y0u_@r3_h1r3d_t0_c1c4d4_k1d5}</p>
      <a class="invite" href="https://krductf.ru/challenges#Cicada%20Kids-87"
        >Accept Invite</a
      >
    </div>
    <div class="terminal"></div>
  </body>
</html>
