<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cicada</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Vault</h1>
      <form action="" method="post">
        <input
          type="text"
          name="user_input"
          id="user_input"
          placeholder='Enter "secret"'
        />
        <button type="submit">Send</button>
      </form>
      {% if response %}
      <p>{{ response }}</p>
      {% endif %}
    </div>
    <div class="terminal"></div>
  </body>
</html>
